
.App {
  height: 100vh;
  background-image: url(./bg.jpg);
  background-position: center;
  background-size: cover;
}

h1 {  
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}
.cont {
  display: flex;
  justify-content: center;
  width: 100%;
}
li {
  cursor: pointer;
}
.crossed {
  text-decoration: line-through 2px #3d5535;
  background-color: #acbe9c;
}
ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  }
input {
  border: solid 3px #3d5535;
  width: 100%;
  font-family: 'Overpass', sans-serif;
  padding: 8px;
  margin: 10px;
  font-size: 16px;
}
.btn {
  font-family: 'Overpass', sans-serif;
  padding: 5px;
  border: none;
  width: 80%;
  color: white;
  font-size: 16px;
}
.add {
  background: #56602d;
  margin-top: 5px;
}
.delete {
  background: #e2921c;
  margin-bottom: 5px;
}
